@charset "UTF-8";
/* base
----------------------------------*/
body {
  min-width: 280px;
  color: #444;
  font-size: 1.125rem;
  font-family: "Noto Sans", sans-serif, "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN";
  line-height: 1.5555555556;
  letter-spacing: 0;
  /* 文字選択色 */
}
body ::-moz-selection {
  background-color: #ccc;
}
body ::selection {
  background-color: #ccc;
}

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 0;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: saturate(180%) blur(2px);
          backdrop-filter: saturate(180%) blur(2px);
}
.header__inner {
  width: 80.46875%;
  max-width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__pic {
  width: 120px;
}
.header__pic .m-color {
  fill: #00f2ff;
}
.header__pic .i-color, .header__pic .i2-color {
  fill: #5454fd;
}
.header__pic .h-color {
  fill: #616678;
}
@media screen and (min-width: 850px) {
  .header__pic {
    width: 150px;
  }
}
.header__menu {
  display: block;
  width: 48px;
  height: 100%;
}
@media screen and (min-width: 850px) {
  .header__menu {
    display: none;
  }
}

.nav {
  display: none;
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  padding-left: 15px;
  font-weight: bold;
}
@media screen and (min-width: 850px) {
  .nav {
    display: block;
  }
}

/* ハンバーガーメニュー */
.menu {
  cursor: pointer;
  width: 50px;
  height: 40px;
  z-index: 300;
}
.menu__line {
  position: absolute;
  right: 10%;
  width: 45px;
  height: 2px;
  background-color: #444;
  transition: all 0.5s;
}
.menu :nth-child(1) {
  top: 48px;
}
.menu :nth-child(2) {
  top: 63px;
}
.menu :nth-child(3) {
  top: 78px;
}

/* card */
/* index
----------------------------------*/
/* top */
.top {
  margin-top: 150px;
}
.top__slider {
  position: relative;
  margin-left: 20%;
  padding: 180px 0;
}
@media screen and (min-width: 850px) {
  .top__slider {
    padding: 300px 0;
  }
}
.top__slideing {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 100px;
  -webkit-animation: slide 12s infinite;
          animation: slide 12s infinite;
}
@-webkit-keyframes slide {
  0%, 40%, 100% {
    opacity: 0;
  }
  15%, 25% {
    opacity: 1;
  }
}
@keyframes slide {
  0%, 40%, 100% {
    opacity: 0;
  }
  15%, 25% {
    opacity: 1;
  }
}
.top__slideing:nth-child(1) {
  background-image: url(../image/1.jpg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.top__slideing:nth-child(2) {
  background-image: url(../image/2.jpg);
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.top__slideing:nth-child(3) {
  background-image: url(../image/3.jpg);
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.top__slideing:nth-child(4) {
  background-image: url(../image/sample.jpg);
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}
.top__content {
  position: relative;
}
.top__content__text {
  position: absolute;
  top: 20%;
  left: -40px;
  color: #000;
  font-weight: bold;
  font-size: 1.875rem;
}
@media screen and (min-width: 850px) {
  .top__content__text {
    left: -140px;
    font-size: 3.75rem;
  }
}

/* works */
.works__inner {
  width: 80.46875%;
  max-width: 87.5%;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=style.css.map */